<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>学生列表</h1>
    <table>
        <tr>
            <td>学生ID</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>生日</td>
            <td>操作</td>
        </tr>
        <tr th:each="stu : ${studentList}">
            <td th:text="${stu.id}">学生ID</td>
            <td th:text="${stu.name}">姓名</td>
            <td th:text="${stu.age}">年龄</td>
            <td th:text="${stu.birthday}">生日</td>
            <td th:text="${stu.id}">操作</td>
        </tr>
    </table>
</body>
</html>